@import "tailwindcss";

/* Draw lines */
.headline-text {
  line-height: 2rem;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(2rem - 1px),
    black calc(2rem - 1px),
    black 2rem
  );
}

/* Remove text when click */
input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}